@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
/* Color Palette
Pink - #E98074
Beige - #EAE7DC
Navy - #202A44
Darker beige - #D8C3A5
*/
*{
  margin: 0;
  font-family: 'PT Serif', serif;
  color: #202A44; 
}
body{
  background-color: #EAE7DC;
  font-weight: lighter;
}
.header{
  margin-top: 33vh;
  margin-left: auto;
  margin-right: auto;
  width: 50vw;
  text-align: center;
  -webkit-animation: fadeIn linear 2.5s;
  user-select: none;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity: 1;}
}
#hiw{
  -webkit-animation: fadeIn linear 4.5s;
}

/* Login */

.loginBody{
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vh;
  padding: 1vh;
  width: 33vw;
  text-align: center;
  background-color: #D8C3A5;
  -webkit-animation: fadeIn linear 1s;
  user-select: none;
}
@media screen and (max-width: 768px) {
  .loginBody{
    width: 100vw;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .email{
    width: 100vw;
    text-align: center;
  }
}
.email{
  padding-top: 5vh;
}
.pwd{
  padding-top: 1vh;
}
#username{
  border-radius: 6px;
  height: 2vh;
  outline: none;
}
#email{
  border-radius: 6px;
  height: 2vh;
  outline: none;
}
#password{
  border-radius: 6px;
  height: 2vh;
  outline: none;
}
#signIn{
  background-color:#EAE7DC;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  border: none;
  cursor: pointer;
}
#signIn:hover{
  transition: all ease-in-out 0.2s ;
  color: #E98074;
}
#userLabel{
  padding-bottom: 0vh;
}
.needAcc{
  padding-top: 1vh;
  width: 33vw;
  text-align: left;
}

#signUpLink:hover{
  transition: all 0.2s ease-in-out;
  color: #E98074;
}

/* Register  */
.registerBody{
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vh;
  padding: 1vh;
  width: 33vw;
  text-align: center;
  background-color: #D8C3A5;
  -webkit-animation: fadeIn linear 1s;
}

#confirm_pwd{
  border-radius: 6px;
  height: 2vh;
  outline: none;
}

#signUp{
  background-color: #EAE7DC;
}

#signUp:hover{
  background-color: #EAE7DC;
  transition: all ease-in-out 0.2s;
  color: red;
  color: #E98074;
}

input[type="text"],
input[type="password"],
button,
textarea {
  padding: 0.25rem;
  border-radius: 0.5rem;
}

label,
button {
  margin-top: 1rem;
}

button {
  padding: 0.5rem;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions>svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  border-radius: 10px;
  margin-bottom: 0.5rem;
}

.successmsg{
  background-color: limegreen;
  padding: 1px;
  border-radius: 5px;
  margin-bottom: 0.5rem;
}
.line {
  display: inline-block;
}
#alreadyReg{
  width: 33vw;
  justify-content: left;
}
#signUp {
  background-color: #EAE7DC;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  border: none;
  cursor: pointer;
}

/* profile */

.profileHead{
  display: flex;
  justify-content: center;
  padding-top: 5vh;
}
.profImg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 4%;
  position: relative;
  padding-top: 1vh;
}

.profImg img{
  width: 100px;
  height: 100px;
}

.profImg:hover img{
  opacity: 0.4;
}

.profImg:hover .overlay {
  opacity: 1;
}

#pfp{
  max-height: 15vh;
  max-width: 15vw;
  border-radius: 7.5vw;
  position: relative;

}

.overlay{
  position: absolute;
  transition: 0.5s ease;
  top: 50%;
  left: 50%;
  text-align: center;
  opacity: 0;
}



.uploadArrow{
  transform: translate(-50%,-50%);
  position: absolute;
  cursor: pointer;
}